In [4]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
    
frame.apply(lambda s:s.max() - s.min())

b    1.900321
d    1.556252
e    2.590445
dtype: float64

In [5]:
frame.apply(lambda s:s.max() - s.min(),axis=1)

台北    1.671448
台中    1.194281
台南    2.160129
高雄    0.882836
dtype: float64

In [8]:
result=frame.apply(lambda s:pd.Series([s.min(),s.max()], index=["min","max"]),axis=1)
result

         min       max
台北 -1.348671  0.322776
台中 -0.818068  0.376213
台南 -0.918355  1.241774
高雄  0.263583  1.146419

In [9]:
result.T

           台北        台中        台南        高雄
min -1.348671 -0.818068 -0.918355  0.263583
max  0.322776  0.376213  1.241774  1.146419

In [10]:
import numpy as np
import pandas as pd

scores=np.random.randint(50, 101, size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name = "學號"
scores_pd.columns.name = "科目"
scores_sum=scores_pd.sum(axis=1)
scores_mean = scores_pd.mean(axis=1)
scores_pd['總分'] = scores_sum
scores_pd['平均'] = scores_mean
scores_pd['名次'] = scores_sum.rank(method='first',ascending=False).astype(int)
scores_pd.sort_values(by='名次')

科目   國文   英文  數學   地理  歷史   總分    平均  名次
學號
6    93  100  95   94  90  472  94.4   1
39   80   88  90   99  91  448  89.6   2
29   89   79  99   91  73  431  86.2   3
28   99   99  76   77  73  424  84.8   4
31   85   85  86   77  87  420  84.0   5
4    77   87  77   80  91  412  82.4   6
16   90   54  99   90  77  410  82.0   7
19   69   62  95   84  99  409  81.8   8
2    68   81  82   91  86  408  81.6   9
5    76   97  89   76  70  408  81.6  10
24   91   69  82   94  69  405  81.0  11
15   84   77  95   93  50  399  79.8  12
37   86   94  61   59  98  398  79.6  13
12   57  100  74   74  87  392  78.4  14
42  100   65  76   75  75  391  78.2  15
45   93   92  52   68  84  389  77.8  16
22   89   56  75   74  92  386  77.2  17
49   53   82  92   70  88  385  77.0  18
40   55   95  97   62  75  384  76.8  19
8    58   85  65   90  84  382  76.4  20
25   86   70  94   69  61  380  76.0  21
41   89   62  93   63  73  380  76.0  22
35   86   70  61   96  65  378  75.6  23
32   66   53  60  100  96  375  75.0  24
10   75   78  55   82  82  372  74.4  25
46   88   97  71   56  60  372  74.4  26
18   93   66  56   78  78  371  74.2  27
23   91   80  77   58  63  369  73.8  28
50   94   56  52   99  67  368  73.6  29
1    60  100  65   83  59  367  73.4  30
9    77   76  95   50  68  366  73.2  31
11   58   79  83   54  92  366  73.2  32
17   66   93  63   55  89  366  73.2  33
3    52   81  70   96  66  365  73.0  34
47   51   67  81   82  83  364  72.8  35
7    55   71  88   70  73  357  71.4  36
34   67   61  86   80  61  355  71.0  37
14   64   68  69   95  58  354  70.8  38
27   61   84  66   84  57  352  70.4  39
48   79   86  61   52  73  351  70.2  40
20   61   91  52   74  72  350  70.0  41
30   68   79  57   57  88  349  69.8  42
44   72   69  82   50  68  341  68.2  43
21   63   73  60   57  87  340  68.0  44
26   50   69  86   51  81  337  67.4  45
36   57   78  56   76  69  336  67.2  46
38   66   50  71   52  79  318  63.6  47
13   69   74  63   57  51  314  62.8  48
33   62   80  50   51  71  314  62.8  49
43   56   50  59   53  82  300  60.0  50

In [12]:
scores_pd.iloc[:,:5].apply(lambda s:pd.Series([s.max(),s.min(),s.mean(),s.std()],index=['最大值','最小值','平均值','標準差']))

科目          國文          英文         數學          地理         歷史
最大值  100.00000  100.000000  99.000000  100.000000  99.000000
最小值   50.00000   50.000000  50.000000   50.000000  50.000000
平均值   73.48000   77.160000  74.780000   73.960000  76.220000
標準差   14.73887   14.052903  15.005156   15.984635  12.436434